




<div class="container">
    
    
    
    
    
    <div class="col-md-3 shiftCol">

	<div class="panel panel-primary shiftBox">
						<div class="panel-heading">
					        <h3 class="panel-title">Request Your Shifts</h3>
						</div><!-- / .panel-heading -->
		      			<div class="panel-body">
							<form method="POST" action="/api/nurse">
                                <div>
                                    <label> Select the shifts you want to work </label>
                                    <label  for="shift1">Shift 1: 12-9</label>
                                     <label for="shift2">Shift 2: 9-3</label>
                                     <label for="shift3">Shift 3: 3-12</label>
                                </div>
								<button type="submit btn-success">Submit</button>
                             </form>
		      			</div>
                    </div>
					{{!-- sunday --}}
					<div class="panel panel-primary shiftBox">
						<div class="panel-heading">
					        <h3 class="panel-title">Sunday</h3>
						</div><!-- / .panel-heading -->
		      			<div class="panel-body">
							<form method="POST" action="/api/nurse">
                                <div>
                                    <label>  </label>
                                    <label class="inputLabel" for="shift1">Shift 1</label>
                                     <input type="radio" id="sunday1" name="sunday1" value="1">
                                     <label for="shift2">Shift 2</label>
                                     <input type="radio" id="sunday2" name="sunday2" value="1">
                                     <label for="shift3">Shift 3</label>
                                     <input type="radio" id="sunday3"  name="sunday3" value="1">
                                </div>
								
                             </form>
		      			</div>
                    </div>
					{{!-- /sunday --}}
					{{!-- monday--}}
					<div class="panel panel-primary">
						<div class="panel-heading">
					        <h3 class="panel-title">Monday</h3>
						</div><!-- / .panel-heading -->
		      			<div class="panel-body">
							<form method="POST" action="/api/nurse">
                                <div>
                                    <label></label>
                                    <label for="shift1">Shift 1</label>
                                     <input type="radio" id="monday1" name="monday1" value="active">
                                     <label for="shift2">Shift 2</label>
                                     <input type="radio" id="monday2" name="monday2" value="active">
                                     <label for="shift3">Shift 3</label>
                                     <input type="radio" id="monday3"  name="monday3" value="active">
                                </div>
                             </form>
		      			</div>
                    </div>
					{{!-- /monday --}}
					{{!-- tuesday --}}
					<div class="panel panel-primary">
						<div class="panel-heading">
					        <h3 class="panel-title">Tuesday</h3>
						</div><!-- / .panel-heading -->
		      			<div class="panel-body">
							<form method="POST" action="/api/nurse">
                                <div>
                                    <label>  </label>
                                    <label for="shift1">Shift 1</label>
                                     <input type="radio" id="tuesday1" name="tuesday1" value="$tuesday1">
                                     <label for="shift2">Shift 2</label>
                                     <input type="radio" id="tuesday2" name="tuesday2" value="$tuesday2">
                                     <label for="shift3">Shift 3</label>
                                     <input type="radio" id="tuesday3"  name="tuesday3" value="$tuesday3">
                                </div>
                             </form>
		      			</div>
                    </div>
					{{!-- /tuesday --}}
					{{!-- wednesday --}}
					<div class="panel panel-primary">
						<div class="panel-heading">
					        <h3 class="panel-title">Wednesday</h3>
						</div><!-- / .panel-heading -->
		      			<div class="panel-body">
							<form method="POST" action="/api/nurse">
                                <div>
                                    <label> </label>
                                    <label for="shift1">Shift 1</label>
                                     <input type="radio" id="wednesday1" name="wednesday1" value="TRUE">
                                     <label for="shift2">Shift 2</label>
                                     <input type="radio" id="wednesday2" name="wednesday2" value="TRUE">
                                     <label for="shift3">Shift 3</label>
                                     <input type="radio" id="wednesday3"  name="wednesday3" value="TRUE">
                                </div>
                             </form>
		      			</div>
                    </div>
					{{!-- /wednesday --}}
					{{!-- thursday --}}
					<div class="panel panel-primary">
						<div class="panel-heading">
					        <h3 class="panel-title">Thursday</h3>
						</div><!-- / .panel-heading -->
		      			<div class="panel-body">
							<form method="POST" action="/api/nurse">
                                <div>
                                    <label>  </label>
                                    <label for="shift1">Shift 1</label>
                                     <input type="radio" id="thursday1" name="thursday1" value="TRUE">
                                     <label for="shift2">Shift 2</label>
                                     <input type="radio" id="thursday2" name="thursday2" value="TRUE1">
                                     <label for="shift3">Shift 3</label>
                                     <input type="radio" id="thursday3"  name="thursday3" value="TRUE">
                                </div>
                             </form>
		      			</div>
                    </div>
					{{!-- /thursday --}}
					{{!-- friday --}}
					<div class="panel panel-primary">
						<div class="panel-heading">
					        <h3 class="panel-title">Friday</h3>
						</div><!-- / .panel-heading -->
		      			<div class="panel-body">
							<form method="POST" action="/api/nurse">
                                <div>
                                    <label>  </label>
                                    <label for="shift1">Shift 1</label>
                                     <input type="radio" id="friday1" name="friday1" value="TRUE1">
                                     <label for="shift2">Shift 2</label>
                                     <input type="radio" id="friday2" name="friday2" value="TRUE">
                                     <label for="shift3">Shift 3</label>
                                     <input type="radio" id="friday3"  name="friday3" value="TRUE">
                                </div>
                             </form>
		      			</div>
                    </div>
					{{!-- /friday --}}
					{{!-- Saturday --}}
					<div class="panel panel-primary">
						<div class="panel-heading">
					        <h3 class="panel-title">Saturday</h3>
						</div><!-- / .panel-heading -->
		      			<div class="panel-body">
							<form method="POST" action="/api/nurse">
                                <div>
                                    <label></label>
                                    <label for="shift1">Shift 1</label>
                                     <input type="radio" id="saturday1" name="saturday1" value="TRUE">
                                     <label for="shift2">Shift 2</label>
                                     <input type="radio" id="saturday2" name="saturday2" value="TRUE">
                                     <label for="shift3">Shift 3</label>
                                     <input type="radio" id="saturday3"  name="saturday3" value="TRUE">
                                </div>
                             </form>
		      			</div>
                    </div>
					{{!-- /saturday --}}
</div>



<script>
$('form').each(function() {
    var that = $(this);
    $.post(that.attr('action'), that.serialize());
	console.log("this is that:", that); 
});
</script>






{{!-- <div class="col-md-9">

      <!-- Responsive calendar - START -->
    	<div class="responsive-calendar">
        <div class="controls">
            <a class="pull-left" data-go="prev"><div class="btn btn-primary">Prev</div></a>
            <h4><span data-head-year></span> <span data-head-month></span></h4>
            <a class="pull-right" data-go="next"><div class="btn btn-primary">Next</div></a>
        </div><hr/>
        <div class="day-headers">
          <div class="day header">Mon</div>
          <div class="day header">Tue</div>
          <div class="day header">Wed</div>
          <div class="day header">Thu</div>
          <div class="day header">Fri</div>
          <div class="day header">Sat</div>
          <div class="day header">Sun</div>
        </div>
        <div class="days" data-group="days">
          
        </div>
      </div>
      <!-- Responsive calendar - END -->
    </div>
    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/responsive-calendar.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        $(".responsive-calendar").responsiveCalendar({
          time: '2013-05',
          events: {
            "2013-04-30": {"number": 5, "url": "http://w3widgets.com/responsive-slider"},
            "2013-04-26": {"number": 1, "url": "http://w3widgets.com"}, 
            "2013-05-03":{"number": 1}, 
            "2013-06-12": {}}
        });
      });



      
    </script>
 
 --}}


<div class="col-md-9 calendarBox"> 

<div class="mockbox"> shift one mock box</div>
<div class="mockbox"> shift two mock box</div>
<div class="mockbox"> shift three mock box</div>



</div>
    
    




</div>








 
